@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono500.ttf");
}

$background_color: rgb(22, 22, 22);
$background_color_2: #272727;
$background_color_3: #1d1d1d;
$text_color: #fff;
$text_color_2: rgba(175, 175, 175, 0.933);
$accent_color: #00ffbd;

$border_padding: 7vw;

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: $background_color;
  font-family: "Roboto Mono";

  ::selection {
    color: black;
    background: $accent_color;
  }
}

h1 {
  color: $text_color;
}

p {
  color: $text_color_2;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  align-content: center;
  width: 100%;

  h1 {
    font-size: 5rem;
    text-align: center;
    margin: 0;
    color: $text_color;
  }
  p {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: $accent_color;
  }
  img {
    max-width: 13rem;
    margin: 0 auto;
    margin-top: 3.4rem;
  }
}

.navbar {
  width: 100%;
  background-color: $background_color;
  height: 5rem;
  border-bottom: 1pt solid $text_color;

  ul {
    margin: 0;
    list-style: none;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 $border_padding;
    li {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: $text_color;
        :visited {
          color: $text_color;
        }
      }
    }
  }
  .items {
    display: flex;
    gap: 3rem;
  }
  .logo_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    h2 {
      color: $text_color;
      font-size: 2.3rem;
      margin: 0;
      display: inline-block;
    }

    img {
      width: 2.3rem;
    }
  }
}

#landing {
  height: 110%;
  background-image: url("/img/landing.png");
  background-position: top;
  background-size: 90%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  .scroll-arrow {
    scale: (1.7);
  }
}

#video {
  height: 88%;
  h1 {
    color: $text_color;
    text-align: center;
  }

  .video_container {
    width: 80%;
    height: 28vw;

    margin: auto;

    embed {
      width: 100%;
      height: 100%;
    }
  }
}

#specs {
}

.section_title {
  text-align: center;
  margin-top: 7%;
  margin-bottom: 5rem;
  font-size: 3rem;
}

section {
  /*border-bottom: 1pt solid $text_color;*/
}

.grid_item_right {
  margin: 5rem $border_padding;
  height: 40%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 0.2fr 1fr;
  gap: 1rem 1rem;
  grid-template-areas: "title picture" "text picture";

  img {
    transform: scaleX(-1);
  }
}

.grid_item_left {
  margin: 5rem $border_padding;
  height: 40%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 0.2fr 1fr;
  gap: 1rem 1rem;
  grid-template-areas: "picture title" "picture text";
  max-width: 100%;
}

.grid_item_title {
  grid-area: title;
  h1 {
    text-decoration: underline;
  }
}

.grid_item_text {
  grid-area: text;
}

.grid_item_image {
  grid-area: picture;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover img {
    opacity: 0.3;
  }
  &:hover .hover_container {
    opacity: 1;
  }

  img {
    width: 100%;
    max-width: 15rem;
    transition: 0.5s ease;
  }

  .hover_container {
    opacity: 0;
    position: absolute;
    a {
      text-decoration: none;
      color: $text_color;
      border: 1pt solid $text_color;
      padding: 0.2rem;
    }
  }
}

#about {
  display: flex;
  padding: 0 $border_padding;
  .section_title {
    width: 50%;
    margin: 0;
    text-align: right;
  }

  .about_text {
    padding: 0 $border_padding;
    width: 50%;
  }
}

.footer {
  background-color: $background_color;
  height: 5rem;

  ul {
    padding: 0;
    color: $text_color;
    list-style: none;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
