@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono500.ttf");
}

$background_color: #000;
$text_color: #fff;
$accent_color: #16f195;

html,
body {
  height: 100%;
  background-color: $background_color;
  font-family: "Roboto Mono";

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  resize: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  align-content: center;
  width: 100%;

  h1 {
    font-size: 5rem;
    text-align: center;
    margin: 0;
    color: $text_color;
  }
  p {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    color: $accent_color;
  }
  img {
    max-width: 13rem;
    margin: 0 auto;
    margin-top: 3.4rem;
  }
}
